.order-list-container {
  width: 100%;
  margin-left: 1em;
}

.order-list-container .orderlist-table {
  max-height: 58vh;
}

.order-list-container .orderlist-action {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
